@import './styles/global.css';


.wrapper{
  padding-top: 60px;
 
}

.presentacion{
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  color: #ffff;
  grid-template-columns: 1fr ;
}



.App {
  text-align: center;
}
.App-section {
/* background-color: red; */
}
.bg-img{
  height: 400px;
  width: 400px;
}

.search_input{

padding: 15px 0;
  margin-top: 10px;
}
input{
  outline: none;
  width: 90%;
  font-size: 16px;
  
  height: 40px;
  border: none;
  border-radius: 3px;

}